@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Customizing Toastify notifications */
.Toastify__toast-body {
  font-size: 14px;
  /* Adjust font size */
  padding: 10px 12px;
  /* Adjust padding */
}




.form_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  min-width: 360px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_container h2 {
  margin-bottom: 20px;
  color: #333;
}

.form_container form div {
  margin-bottom: 20px;
}

.form_container form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form_container form input[type="email"],
.form_container form input[type="password"],
.form_container form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form_container form button[type="submit"] {
  padding: 10px 20px;
  background-color: #106eea;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form_container form button[type="submit"]:hover {
  background-color: #0a4fbd;
}

.form_container form span {
  display: block;
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}

.form_container form span a {
  color: #007BFF;
  font-weight: bold;
  text-decoration: none;
}

.form_container form span a:hover {
  /* text-decoration: underline; */
}