.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 560px;
    min-width: 360px;
    width: 100%;
    height: max-content;
    padding: 2.5rem 3.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.container h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    font-size: 15px;
    resize: none;

}

form input:focus,
form textarea:focus {
    outline: none;
}

form button {
    padding: 10px;
    background-color: #106eea;
    border-radius: 6px;
    border: 0;
    font-size: 15px;
    width: 50%;
    color: #fff;
}

form button:hover {
    background-color: #0a4fbd;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

/**PENDING TASKS**/

.pending-tasks {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 250px;
    border-radius: 8px; 
    transition: all 0.3s ease; 
}

.pending-tasks button {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    gap: 6px;
    background-color: #fff;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    border-radius: 6px 6px 0 0 ;
    border: 1px solid #ddd;
    width: 100%; 
}

.pending-tasks button:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    transform: translateY(2px);
    cursor: pointer;
    transition-delay: 0.1s;
}

.pending-tasks h2 {
    font-weight: 450;
    font-size: 16px;
}

.task-list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    border-radius: 0 0 6px 6px;
    z-index: 1;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.task-list.active {
    transform: scaleY(1);
}

.task-list ul {
    list-style-type: none;
    text-align: left;
    padding: 0 1rem;
}

.task-list li {
    padding: 0 0 2px;
    margin: 6px 0;
    border-bottom: 1px solid #eee;
}

.task-list li:last-child {
    border-bottom: none;
}
