.sidebar-container {
    height: 100vh;
    width: 330px;
    background-color: #f9f9f9;
    padding: 4rem 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.sidebar-container.closed {
    transform: translateX(-100%);
}

.sidebar {
    margin-top: 2rem;
}

.task {
    border: 1px solid #ccc;
    border: 0;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    min-width: 220px;
    width: 100%;
    margin: 1rem 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task-desc {
    margin-bottom: 1rem;
}

.search-task {
    padding: 8px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    font-size: 14px;
}

.search-task:focus {
    outline: none;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.task h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.task p {
    font-size: 14px;
    margin-bottom: 1rem;
}

.tag {
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.task .task-btns,
.edit-btns {
    display: flex;
    gap: 14px;
    justify-content: flex-start;
}

.task-btns button,
.edit-btn,
.edit-form button,
.sidebar-header button,
.logout-btn {
    padding: 8px 16px;
    background-color: #106eea;
    font-size: 14px;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-header button, .edit-btn,.logout-btn {
    padding: 6px 14px;
}

.task-btns button {
    padding: 6px 14px;
}

.edit-btns button {
    width: 80px;
}

.task-btns button:hover,
.edit-btns button:hover,
.sidebar-header button:hover,
.edit-btn:hover,
.logout-btn:hover {
    background-color: #0a4fbd;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.task-btns .delete-btn,
.edit-btns .cancel-btn {
    background-color: #ff0000;
}

.task-btns .delete-btn:hover,
.edit-btns .cancel-btn:hover {
    background-color: #cc0000;
}


/**Edit task**/
.edit-form div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6px;
    gap: 16px;
    margin-bottom: 16px;
}

.edit-form input,
.edit-form textarea {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
}

.sidebar-container .save-btn,.sidebar-container .cancel-btn{
    padding: 6px;

}